@import url(https://fonts.googleapis.com/css?family=Lato);

/*BLOCKS
--------------------------------------------------------------------------*/
.pr-block-toolbar{background: url('../images/general/bg_header.jpg') repeat;}
.pr-block-header{background-color:#ffb812;}
.pr-block-main{padding:70px 0 0 0;}

/*GENERAL
--------------------------------------------------------------------------*/
/*default*/
 body {background: url('../images/general/bg_verkeer_in_uitvoering_dark.jpg') fixed; background-size: cover; background-position:center center; font-family: 'Lato', sans-serif; font-size:16px; line-height:26px; height:100%; color:#000;}

 a{color:#ffb812;}
 a:hover, a:focus{color:#da9800;}
 
/*fonts*/
body .pr-font-primary, body a.pr-font-primary{color:#ffb812;}
body .pr-font-secondary, body a.pr-font-secondary{}
body .pr-font-white, body a.pr-font-white{color:#fff;}
body .pr-font-black, body a.pr-font-black{color:#000;}

/*backgrounds*/
body .pr-background-primary{background-color:#ffb812;}
body .pr-background-secondary{}
body .pr-background-white{background-color:#fff;}
body .pr-background-white-transparent{background-color:rgba(255, 255, 255, 0.92);}
body .pr-background-black{background-color:#000;}

/*spacing*/
body .pr-mod-spacing-progress{padding:10px 30px; border-radius:3px;}
body .pr-mod-spacing-small{padding:15px; border-radius:3px;}
body .pr-mod-spacing-medium{padding:35px; border-radius:3px;}
body .pr-mod-spacing-large{padding:50px; border-radius:3px;}

/*border*/
.pr-border-primary-top{border-top:2px solid #ffb812; padding-top:10px;}

/*CUSTOM
--------------------------------------------------------------------------*/
/*general*/
input:-moz-read-only { /* For Firefox */background-color: #f5f5f5 !important; color:#999999 !important;}
input:read-only {background-color: #f5f5f5 !important; color:#999999 !important;}
.pr-title-primary-border{border-bottom:2px solid #ffb812; padding-bottom:10px;}

#media_11{text-align:center; margin:20px 0;}
#text_3{text-align:center; margin:20px 0;}

/*menu*/
.pr-block-header .tm-navbar ul li:last-child{float:right;}
.pr-block-header .tm-navbar ul{width:100%;}

/*profile*/
.pr-file-upload .btn-primary{padding:5px 30px; font-size:18px; background-color: #ffb812; color:#fff; border-radius:3px;}
.pr-file-upload .btn-primary:hover, .pr-file-upload .btn-primary:focus{background-color:#da9800;}

/*inschrijven*/
.pr-inschrijven a{font-size:25px; line-height:35px;}

/*categorie*/
.image_guru .thumbnail{max-width:100px; margin:0 25px 25px 0; padding:0; border:0;}
.image_guru .thumbnail img{border-radius:3px;}

/*program (lesbrief)*/
.guru-cover-image{border:0px; border-radius:3px;}
.pr-subnav{background:none;}
.pr-subnav li{margin:0; padding:0;}
.pr-subnav li a{ background-color: #ffb812; color:#fff; border-radius:3px; padding:5px 30px; font-size:18px; color:#fff; margin-right:15px;}
.uk-subnav-pill > * > *{padding:0;}
.pr-subnav li.uk-active a, .pr-subnav li a:hover, .pr-subnav li a:focus{background-color:#da9800;}
.pr-subscribe{position:absolute; right:0; top:0;}
.pr-subscribe .uk-button{padding:3px 15px;}
.table-of-contents .uk-grid .pr-subscribe{padding:0;}

#the_quiz .uk-width-large-1-1{padding-left:15px;}

/*feedback*/
.pr-feedback{height:80px;}
.pr-feedback-list{padding:0;}
.pr-feedback-table td{vertical-align:middle;}
.pr-feedback-table td p{margin:0;}

/*task*/
.pr-lesson-nav .uk-icon{font-size:20px;}
.pr-lesson-nav .uk-icon:hover{color:#da9800;}
.pr-quiz form .uk-panel{padding:0;}
.pr-quiz .guru-question{padding:0; border:0px;}

/*modal*/
.guru-modal-dialog{max-width:1050px; max-height:700px;}
.contentpane{margin:30px;}

/*UIKIT OVERRIDE
--------------------------------------------------------------------------*/
/*menu*/
.uk-navbar-nav > li > a{font-size:18px;}
.uk-navbar-nav > li.uk-active > a, .uk-navbar-nav > li:hover > a{background:none;}
.uk-navbar-toggle{color:#fff; font-size:25px; float:none; line-height:40px;}
.uk-navbar-toggle:before{    content: "\f0c9";font-family: FontAwesome; vertical-align: middle; height:auto; display:inline-block; margin-right:10px;}
.uk-navbar-toggle:after{content: "";}

/*badge*/
.uk-badge.pr-badge{padding:5px 10px; border-radius:5px; font-size:17px;}
li.uk-active .uk-badge.pr-badge, .uk-badge.pr-badge:hover{text-decoration:none; background-color:#da9800 !important;}

/*footer*/
.tm-footer{margin:0;}
.pr-footer{padding:25px 0;}

/*list*/
.uk-list-line > li:nth-child(n+2){border-color:#ffb812; margin-top:10px; padding-top:10px;}

/*button*/
body .uk-button{padding:5px 30px; font-size:18px;}
body .uk-button-primary{background-color: #ffb812; color:#fff; border-radius:3px;}
body .uk-button-primary:hover, body .uk-button-primary:focus{background-color:#da9800;}

/*form*/
.uk-form input[type="text"], .uk-form input[type="password"]{height:40px; font-size:18px;}

/*RESPONSIVE
--------------------------------------------------------------------------*/
@media (min-width: 1220px){
	.uk-container {max-width:1150px;}
}

@media (max-width: 480px){

	body .pr-mod-spacing-large, body .pr-mod-spacing-medium{padding:20px;}

}
