.icon-48-schools {
      background-image: url(../images/l_schools.png);
      padding-left:60px!important;
}

.icon-48-school {
      background-image: url(../images/l_schools.png);
      padding-left:60px!important;
}

.color-box-schools { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-subscriptions {
      background-image: url(../images/l_subscriptions.png);
      padding-left:60px!important;
}

.icon-48-subscription {
      background-image: url(../images/l_subscriptions.png);
      padding-left:60px!important;
}

.color-box-subscriptions { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-teachers {
      background-image: url(../images/l_teachers.png);
      padding-left:60px!important;
}

.icon-48-teacher {
      background-image: url(../images/l_teachers.png);
      padding-left:60px!important;
}

.color-box-teachers { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-students {
      background-image: url(../images/l_students.png);
      padding-left:60px!important;
}

.icon-48-student {
      background-image: url(../images/l_students.png);
      padding-left:60px!important;
}

.color-box-students { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}