
.pr-langswitcher > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pr-langswitcher > ul > li {
	float: left;
	margin-right: 5px;
}

.pr-langswitcher > ul > li:last-child {
	margin-right: 0;
}

.pr-langswitcher .pr-flag {
	display: block;
	width: 18px;
	height: 12px;
}

.pr-langswitcher .pr-flag-nl {
	background: url(../images/nl.gif) 0 0 no-repeat;
}

.pr-langswitcher .pr-flag-en {
	background: url(../images/en.gif) 0 0 no-repeat;
}

.pr-langswitcher .pr-flag-de {
	background: url(../images/de.gif) 0 0 no-repeat;
}