/* standard form style table */
div.col { float: left; }
div.width-45 { width: 45%; }
div.width-55 { width: 55%; }
div.width-50 { width: 50%; }
div.width-70 { width: 70%; }
div.width-30 { width: 30%; }
div.width-60 { width: 60%; }
div.width-40 { width: 40%; }

table.admintable td.key,
table.admintable td.paramlist_key {
	background-color: #f6f6f6;
	text-align: right;
	width: 140px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.paramlist td.paramlist_description {
	background-color: #f6f6f6;
	text-align: left;
	width: 170px;
	color: #333;
	font-weight: normal;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.admintable td.key.vtop { vertical-align: top; }

table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}
table.adminform.nospace { margin-bottom: 0; }
table.adminform tr.row0 { background-color: #f9f9f9; }
table.adminform tr.row1 { background-color: #eeeeee; }

table.adminform th {
	font-size: 11px;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}
table.adminform td { padding: 3px; text-align: left; }

table.adminform td.filter{
	text-align: left;
}

table.adminform td.helpMenu{
	text-align: right;
}

/*fieldset.adminform { border: 1px solid #ccc; margin: 0 10px 10px 10px; }*/

table.noshow   		 { width: 100% !important; min-width: 500px !important; border-collapse: collapse; padding: 0; margin: 0; }
table.noshow tr 		 { vertical-align: top; }
table.noshow td 		 { /*min-width: 200px !important;*/ }
table.noshow fieldset { margin: 5px 7px; }

/** general **/
table.adminlist thead th.whitebuttons input {
	background-color: #fff;
}

table.admintable td.key2 {
	background-color:#F6F6F6;
	border-bottom:1px solid #E9E9E9;
	border-right:1px solid #E9E9E9;
	color:#666666;
	font-weight:bold;
	text-align:left;
    padding-left: 5px;
    vertical-align: middle;
    height: 22px;
	width:200px !important;;
}

table.admintable td.value2 {
    padding-left: 7px;
}

table.admintable span.hasTip {
    padding-right: 18px;
	background: url(../images/icon-14-tooltip.png) no-repeat 100% 55%;
}

/** toolbar **/
table.toolbar1 {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

table.toolbar1 td {
	padding: 1px 1px 1px 4px;
	text-align: center;
	color: #666;
	height: 48px;
}

table.toolbar1 td.desc {
	padding: 1px 10px 1px 4px;
	text-align: left;
	float: left-center;
	color: #666;
	height: 48px;
}

table.toolbar1 td.divider {
	border-right: 1px solid #eee;
	width: 5px;
}

table.toolbar1 span {
	float: none;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	display: block;
}

table.toolbar1 a {
	display: block; float: left;
	white-space: nowrap;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
}

table.toolbar1 a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}

/** toolbar icons **/
body.com_mijosef .page-title {background:url(../images/toolbar.png) no-repeat 0 50%;padding-left:210px;}
@media (max-width: 767px) { body.com_mijosef .page-title {background:url(../images/toolbar.png) no-repeat center center;padding-left:0; text-indent: -800px} }

.icon-32-save1 { background-image: url(../images/icon-32-save1.png); }
.icon-32-apply1 { background-image: url(../images/icon-32-apply1.png); }
.icon-32-cancel1 { background-image: url(../images/icon-32-cancel1.png); }
.icon-32-new1 { background-image: url(../images/icon-32-new1.png); }
.icon-32-edit1 { background-image: url(../images/icon-32-edit1.png); }
.icon-32-generateurls  { background-image: url(../images/icon-32-generateurls.png); }
.icon-32-generatemetadata  { background-image: url(../images/icon-32-generatemetadata.png); }
.icon-32-generatesitemap  { background-image: url(../images/icon-32-generatesitemap.png); }
.icon-32-generatexml  { background-image: url(../images/icon-32-generatexml.png); }
.icon-32-generatetags  { background-image: url(../images/icon-32-generatetags.png); }
.icon-32-uninstall  { background-image: url(../images/icon-32-uninstall.png); }
.icon-32-purgeupdate  { background-image: url(../images/icon-32-purgeupdate.png); }
.icon-32-cache  { background-image: url(../images/icon-32-popup-cache.png); }
.icon-32-help1  { background-image: url(../images/icon-32-popup-help1.png); }

/** autocompleter **/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url(../images/indicator.gif) right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}


/* Controls */
.form-horizontal .control-group:after {
    clear: none !important;
}
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
    content: normal !important;
}

.form-horizontal .controls {
    margin-left: 200px !important;
}

.form-horizontal .control-label {
    /*margin-left: 5px !important;*/
}

/* Divs */
.fltlft {
    float: left;
}

.fltrt {
    float: right;
}

fieldset.adminform {
    margin: 0px 10px;
}

/* Tabs */
dl.tabs {
    margin-bottom: 18px;
    border-bottom: 1px solid #dddddd;
    display: table;
    line-height: 0;
    clear: both;
}

dl.tabs dt h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

dt.tabs {
    float: left;
    line-height: 18px;
    margin-bottom: -1px;
}

dt.tabs a {
    display: block;
    padding: 8px 12px;
    margin-right: 2px;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

dt.tabs a:hover {
    background-color: #eeeeee;
    text-decoration: none;
    border-color: #eeeeee #eeeeee #dddddd;
}

dl.tabs dt.open a,
dl.tabs dt.open a:hover {
    background-color: #ffffff;
    border-color: #dddddd #dddddd transparent;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

/* Sliders */
div.panel {
    /*background: none repeat scroll 0 0 white;*/
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 3px;
}

div.panel h3 {
    font-size: 1em;
    margin: 0px;
}

div.panel h3 a {
    display: block;
    padding: 5px 0px 5px 10px;
}

/* Icons */
.mijosefcpanel, #mijosefcpanel { clear:both; margin:-1px 0 8px; padding:8px 0; position:relative; z-index:0; min-height: 95px; }
.mijosefcpanel, #mijosefcpanel div.icon-wrapper { float:left; display: block !important; width: auto !important; height :auto!important; line-height:12px !important; background-image: none !important; }

.mijosefcpanel div.icon,
#mijosefcpanel div.icon {
    float: left;
    margin: 0px 15px 0px 0px;
    text-align: center;
}

.mijosefcpanel div.icon a,
#mijosefcpanel div.icon a {
    background-color: #FFFFFF;
    background-position: -30px center;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #565656;
    display: block;
    float: left;
    height: 97px;
    text-decoration: none;
    transition-duration: 0.8s;
    transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
    vertical-align: middle;
    width: 108px;
}

.mijosefcpanel div.icon a:hover,
#mijosefcpanel div.icon a:hover,
.mijosefcpanel div.icon a:focus,
#mijosefcpanel div.icon a:focus,
.mijosefcpanel div.icon a:active,
#mijosefcpanel div.icon a:active {
    border-bottom-left-radius: 50% 20px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
}

.mijosefcpanel img,
#mijosefcpanel img {
    margin: 0 auto;
    padding: 10px 0;
}

.mijosefcpanel span,
#mijosefcpanel span {
    display: block;
    text-align: center;
}

/* Date selector */
.input-append {
    display: inline;
}

/* Extensions */
.spacer hr {
    width: 500px !important;
}

.mjsf-rank-buttons {
    float: left;
    margin-left: 3px;
}

.mjsf-progress {
    height: 20px;
    background: #ebebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    overflow:visible;
    width: 20%;
    display: inline-block;
    float: left;
}

.mjsf-progress > span {
    position: relative;
    float: left;
    margin: 0 -1px;
    min-width: 30px;
    height: 18px;
    line-height: 16px;
    text-align: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #bfbfbf #b3b3b3 #9e9e9e;
    background-color: #cccccc;
    background: rgb(255,255,255); /* Old browsers */
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(204, 204, 204, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.mjsf-progress > span span {
    padding: 0 8px;
    font-size: 11px;
    font-weight: bold;
    color: #404040;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.mjsf-progress > span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*background: url("../images/progress.png") 0 0 repeat-x;*/
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.mjsf-progress .green {
    border-color: #78b337 #6ba031 #568128;
    background-color: #85c440;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b7dc8e), color-stop(70%, #99ce5f), color-stop(100%, #85c440));
    background-image: -webkit-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
    background-image: -moz-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
    background-image: -ms-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
    background-image: -o-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
    background-image: linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
}
.mjsf-progress .red {
    border-color: #c73321 #b12d1e #8e2418;
    background-color: #db3a27;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea8a7e), color-stop(70%, #e15a4a), color-stop(100%, #db3a27));
    background-image: -webkit-linear-gradient(top, #ea8a7e 0%, #e15a4a 70%, #db3a27 100%);
    background-image: -moz-linear-gradient(top, #ea8a7e 0%, #e15a4a 70%, #db3a27 100%);
    background-image: -ms-linear-gradient(top, #ea8a7e 0%, #e15a4a 70%, #db3a27 100%);
    background-image: -o-linear-gradient(top, #ea8a7e 0%, #e15a4a 70%, #db3a27 100%);
    background-image: linear-gradient(top, #ea8a7e 0%, #e15a4a 70%, #db3a27 100%);
}
.mjsf-progress .orange {
    border-color: #f0ad24 #eba310 #c5880d;
    background-color: #f2b63c;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8da9c), color-stop(70%, #f5c462), color-stop(100%, #f2b63c));
    background-image: -webkit-linear-gradient(top, #f8da9c 0%, #f5c462 70%, #f2b63c 100%);
    background-image: -moz-linear-gradient(top, #f8da9c 0%, #f5c462 70%, #f2b63c 100%);
    background-image: -ms-linear-gradient(top, #f8da9c 0%, #f5c462 70%, #f2b63c 100%);
    background-image: -o-linear-gradient(top, #f8da9c 0%, #f5c462 70%, #f2b63c 100%);
    background-image: linear-gradient(top, #f8da9c 0%, #f5c462 70%, #f2b63c 100%);
}