<span style='color: #000'>115 frames</span>	<span style='color: #900'>33,024 KB</span>	<span style='color: #090'>442.03 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />