/**
 * @package         Regular Labs Library
 * @version         19.1.11795
 * 
 * @author          Peter van Westen <info@regularlabs.com>
 * @link            http://www.regularlabs.com
 * @copyright       Copyright © 2019 Regular Labs All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@font-face {
  font-family: 'RegularLabs';
  src: url('../fonts/RegularLabs.eot');
  src: url('../fonts/RegularLabs.eot?#iefix') format('embedded-opentype'), url('../fonts/RegularLabs.woff') format('woff'), url('../fonts/RegularLabs.ttf') format('truetype'), url('../fonts/RegularLabs.svg#RegularLabs') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RegularLabsIcons';
  src: url('../fonts/RegularLabsIcons.eot');
  src: url('../fonts/RegularLabsIcons.eot?#iefix') format('embedded-opentype'), url('../fonts/RegularLabsIcons.woff') format('woff'), url('../fonts/RegularLabsIcons.ttf') format('truetype'), url('../fonts/RegularLabsIcons.svg#RegularLabsIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-reglab,
[class^="icon-reglab-"],
[class*=" icon-reglab-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: 0.3em;
  line-height: 16px;
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-reglab:before {
  font-family: 'RegularLabs' !important;
  font-size: 14.2px !important;
}
h1 .icon-reglab:before,
h2 .icon-reglab:before {
  font-size: 16px !important;
}
.btn .icon-reglab {
  text-indent: -2px;
  font-size: 12px;
}
.btn .icon-reglab:before {
  vertical-align: -3px;
}
.icon-reglab-24:before {
  vertical-align: -5px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .icon-reglab-24:before {
    vertical-align: -3px;
  }
}
.icon-reglab:before {
  content: "\e000";
}
.icon-nonumber:before {
  content: "\e100";
}
.icon-addtomenu:before {
  content: "\e001";
}
.icon-advancedmodulemanager:before {
  content: "\e003";
}
.icon-advancedtemplatemanager:before {
  content: "\e015";
}
.icon-articlesanywhere:before {
  content: "\e004";
}
.icon-articlesfield:before {
  content: "\e01d";
}
.icon-betterpreview:before {
  content: "\e005";
}
.icon-bettertrash:before {
  content: "\e01b";
}
.icon-cachecleaner:before {
  content: "\e006";
}
.icon-cdnforjoomla:before {
  content: "\e007";
}
.icon-componentsanywhere:before {
  content: "\e008";
}
.icon-conditionalcontent:before {
  content: "\e019";
}
.icon-contenttemplater:before {
  content: "\e009";
}
.icon-dbreplacer:before {
  content: "\e00a";
}
.icon-dummycontent:before {
  content: "\e017";
}
.icon-emailprotector:before {
  content: "\e00b";
}
.icon-geoip:before {
  content: "\e018";
}
.icon-iplogin:before {
  content: "\e016";
}
.icon-keyboardshortcuts:before {
  content: "\e01e";
}
.icon-modals:before {
  content: "\e00c";
}
.icon-modulesanywhere:before {
  content: "\e00d";
}
.icon-quickindex:before {
  content: "\e01c";
}
.icon-rereplacer:before {
  content: "\e00e";
}
.icon-simpleusernotes:before {
  content: "\e01a";
}
.icon-sliders:before {
  content: "\e00f";
}
.icon-snippets:before {
  content: "\e010";
}
.icon-sourcerer:before {
  content: "\e011";
}
.icon-tabs:before {
  content: "\e012";
}
.icon-tooltips:before {
  content: "\e014";
}
.icon-whatnothing:before {
  content: " ";
  width: 16px;
  display: inline-block;
}
[class^="icon-reglab-"]:before,
[class*=" icon-reglab-"]:before {
  font-family: 'RegularLabsIcons' !important;
}
.icon-reglab-paragraph-left:before {
  content: "\e001";
}
.icon-reglab-paragraph-center:before {
  content: "\e002";
}
.icon-reglab-paragraph-right:before {
  content: "\e003";
}
.icon-reglab-paragraph-justify:before {
  content: "\e004";
}
.icon-reglab-undo:before {
  content: "\e005";
}
.icon-reglab-redo:before {
  content: "\e006";
}
.icon-reglab-spinner:before {
  content: "\e007";
}
.icon-reglab-lock:before {
  content: "\e008";
}
.icon-reglab-unlocked:before {
  content: "\e009";
}
.icon-reglab-cog:before {
  content: "\e00a";
}
.icon-reglab-arrow-up:before {
  content: "\e00b";
}
.icon-reglab-arrow-right:before {
  content: "\e00c";
}
.icon-reglab-arrow-down:before {
  content: "\e00d";
}
.icon-reglab-arrow-left:before {
  content: "\e00e";
}
.icon-reglab-top:before {
  content: "\e00f";
}
.icon-reglab-bottom:before {
  content: "\e010";
}
.icon-reglab-simple:before {
  content: "\e011";
}
.icon-reglab-normal:before {
  content: "\e012";
}
.icon-reglab-advanced:before {
  content: "\e013";
}
.icon-reglab-home:before {
  content: "\e014";
}
.icon-reglab-info:before {
  content: "\e015";
}
.icon-reglab-warning:before {
  content: "\e016";
}
.icon-reglab-not-ok:before {
  content: "\e017";
}
.icon-reglab-link:before {
  content: "\e018";
}
.icon-reglab-eye:before {
  content: "\e019";
}
.icon-reglab-search:before {
  content: "\e01a";
}
.icon-reglab-earth:before {
  content: "\e01f";
}
.icon-reglab-src_sourcetags:before {
  content: "\e01b";
}
.icon-reglab-src_nosourcetags:before {
  content: "\e01c";
}
.icon-reglab-src_tagstyle:before {
  content: "\e01d";
}
.icon-reglab-src_tagstyle_brackets:before {
  content: "\e01e";
}
.icon-reglab-bundle:before {
  content: "\e021";
}
.icon-reglab-lifetime:before {
  content: "\e022";
}
.icon-reglab-twitter:before {
  content: "\e030";
}
.icon-reglab-google-plus:before {
  content: "\e031";
}
.icon-reglab-facebook:before {
  content: "\e032";
}
.icon-reglab-joomla:before {
  content: "\e033";
}
.icon-reglab.icon-src_sourcetags:before {
  font-family: 'RegularLabsIcons' !important;
  content: "\e01b";
}
.icon-reglab.icon-src_nosourcetags:before {
  font-family: 'RegularLabsIcons' !important;
  content: "\e01c";
}
.icon-reglab.icon-src_tagstyle:before {
  font-family: 'RegularLabsIcons' !important;
  content: "\e01d";
}
.icon-reglab.icon-src_tagstyle_brackets:before {
  font-family: 'RegularLabsIcons' !important;
  content: "\e01e";
}
.icon-expired:before {
  content: "\6e";
}
.rl_tablelist td {
  height: 22px;
  color: #555;
}
.rl_tablelist td.has-context {
  height: 23px;
}
.rl_code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #999;
}
.well .well {
  border-color: #dedede;
}
div.rl_well {
  padding-bottom: 0;
}
div.rl_well h4 {
  margin-top: 6px;
}
div.rl_well.alert-success,
div.rl_well.alert-error {
  color: #333;
}
div.rl_well .controls .btn-group > .btn {
  min-width: auto;
}
.well-striped:nth-child(even) {
  background-color: #f8f8f8;
}
.alert.alert-inline {
  margin: 14px 0 0;
}
.alert.alert-noclose {
  padding: 8px 14px;
}
.rl_btn-ignore.btn-danger.active {
  background-color: #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.rl_btn-ignore.btn-danger.active:hover,
.rl_btn-ignore.btn-danger.active:focus {
  background-color: #737373;
}
.rl_btn-exclude.btn-success.active {
  background-color: #bd362f;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.rl_btn-exclude.btn-success.active:hover,
.rl_btn-exclude.btn-success.active:focus {
  background-color: #802420;
}
.icon-back:before {
  content: "\e008";
}
.icon-spin {
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Dropdown and dropup fixes */
.btn-toolbar .modal,
.btn-toolbar .dropdown-menu {
  font-size: 13px;
}
@media (min-width: 768px) {
  .dropdown {
    display: inline-block;
  }
  .dropdown-menu.dropup-menu {
    bottom: 100%;
    top: auto;
  }
}
/* popovers */
.popover {
  width: auto;
  min-width: 200px;
}
/* icons */
.icon-color {
  background: transparent url(../images/icon-color.png) no-repeat;
  width: 16px !important;
  height: 16px !important;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.thumbnail-small > .thumbnail > img {
  max-width: 40px;
}
#key_button,
#jform_key_button {
  margin-left: 8px;
}
.ghosted {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.rl_licence {
  margin-top: 30px;
  text-align: center;
}
.rl_footer {
  margin-top: 30px;
}
.rl_footer div {
  margin-top: 30px;
  text-align: center;
}
.rl_footer .rl_footer_review {
  margin-top: 5px;
}
.rl_footer .rl_footer_review a.stars {
  display: inline-block;
}
.rl_footer .rl_footer_review a.stars .icon-star {
  color: #fcac0a;
  margin: 0;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.rl_footer .rl_footer_review a.stars:hover {
  text-decoration: none;
}
.rl_footer .rl_footer_review a.stars:hover .icon-star {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.rl_footer .rl_footer_logo img {
  vertical-align: -40%;
}
.rl_footer .rl_footer_copyright {
  margin-top: 3px;
  font-size: 0.7em;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.rl_simplecategory_new {
  margin-top: 4px;
}
.rl_codemirror .CodeMirror-activeline-background {
  background: rgba(164, 194, 235, 0.1);
}
/* better responsiveness */
@media (min-width: 768px) and (max-width: 1200px) {
  .row-fluid [class*="span"].span-md-12 {
    width: 100%;
    *width: 99.94680851%;
    margin-left: 0;
  }
  .row-fluid [class*="span"].span-md-11 {
    width: 91.4893617%;
    *width: 91.43617021%;
  }
  .row-fluid [class*="span"].span-md-10 {
    width: 82.9787234%;
    *width: 82.92553191%;
  }
  .row-fluid [class*="span"].span-md-9 {
    width: 74.46808511%;
    *width: 74.41489362%;
  }
  .row-fluid [class*="span"].span-md-8 {
    width: 65.95744681%;
    *width: 65.90425532%;
  }
  .row-fluid [class*="span"].span-md-7 {
    width: 57.44680851%;
    *width: 57.39361702%;
  }
  .row-fluid [class*="span"].span-md-6 {
    width: 48.93617021%;
    *width: 48.88297872%;
  }
  .row-fluid [class*="span"].span-md-5 {
    width: 40.42553191%;
    *width: 40.37234043%;
  }
  .row-fluid [class*="span"].span-md-4 {
    width: 31.91489362%;
    *width: 31.86170213%;
  }
  .row-fluid [class*="span"].span-md-3 {
    width: 23.40425532%;
    *width: 23.35106383%;
  }
  .row-fluid [class*="span"].span-md-2 {
    width: 14.89361702%;
    *width: 14.84042553%;
  }
  .row-fluid [class*="span"].span-md-1 {
    width: 6.38297872%;
    *width: 6.32978723%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .row-fluid [class*="span"].span-lg-12 {
    width: 100%;
    *width: 99.94680851%;
    margin-left: 0;
  }
  .row-fluid [class*="span"].span-lg-11 {
    width: 91.4893617%;
    *width: 91.43617021%;
  }
  .row-fluid [class*="span"].span-lg-10 {
    width: 82.9787234%;
    *width: 82.92553191%;
  }
  .row-fluid [class*="span"].span-lg-9 {
    width: 74.46808511%;
    *width: 74.41489362%;
  }
  .row-fluid [class*="span"].span-lg-8 {
    width: 65.95744681%;
    *width: 65.90425532%;
  }
  .row-fluid [class*="span"].span-lg-7 {
    width: 57.44680851%;
    *width: 57.39361702%;
  }
  .row-fluid [class*="span"].span-lg-6 {
    width: 48.93617021%;
    *width: 48.88297872%;
  }
  .row-fluid [class*="span"].span-lg-5 {
    width: 40.42553191%;
    *width: 40.37234043%;
  }
  .row-fluid [class*="span"].span-lg-4 {
    width: 31.91489362%;
    *width: 31.86170213%;
  }
  .row-fluid [class*="span"].span-lg-3 {
    width: 23.40425532%;
    *width: 23.35106383%;
  }
  .row-fluid [class*="span"].span-lg-2 {
    width: 14.89361702%;
    *width: 14.84042553%;
  }
  .row-fluid [class*="span"].span-lg-1 {
    width: 6.38297872%;
    *width: 6.32978723%;
  }
}
