

/* list style - used for no separator and css-based separator */

.pr-legalsmenu > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pr-legalsmenu > ul > li {
	float: left;
	padding-right: 7px;
	margin-right: 8px;
}

.pr-legalsmenu > ul.pr-item-border > li {
	border-right: 1px solid #ddd;
}

.pr-legalsmenu > ul.pr-item-border > li:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}



/* link style - used for UIkit icon separators */

.pr-legalsmenu > a {
	margin: 0 10px;
}

.pr-legalsmenu > a:first-child {
	margin-left: 0;
}

.pr-legalsmenu > a:last-child {
	margin-right: 0;
}

