#plg_rdmedia_rdmccidealplatform{
	width:100%;
	color: #999999;
	border:#999999 solid 1px;
	height:80px;
	background: url("../images/rdmccidealplatform_logo.jpg") no-repeat scroll 12px 0px transparent;
	margin-top: 25px;
}

#plg_rdmedia_rdmccidealplatform_cards{
	width: 50%;
	height: 40px;
	margin-left: 185px;
	margin-top: 23px;
	padding-left: 3px;
}

#plg_rdmedia_rdmccidealplatform_confirmbutton{
	width:116px;
	height: 87px;
	margin-left: 600px;
	margin-top: -60px;
	position: absolute;
}

.rdmccidealplatform_button {
	height: 75px;
	width: 116px;
	background: url(../images/rdmccidealplatform_button.png) no-repeat center;
	border:#dbdedf solid 1px;
	color: #CCCCCC;
	font-size: 85%;
	text-transform: uppercase;
}

.rdmccidealplatform_button:hover {
	height: 75px;
	width: 116px;
	background: url(../images/rdmccidealplatform_button.png) no-repeat center;
	border:#003a54 solid 1px;
	color: #CCCCCC;
	font-size: 85%;
	text-transform: uppercase;
}
