/**
* @package	cciDEAL Platform
* @author 	Chill Creations <info@chillcreations.com>
* @link 	http://www.chillcreations.com
* @copyright	Copyright (C) Chill Creations, see COPYRIGHT.php for details.
* @license	GNU/GPL, see LICENSE.php for full license. 
**/

/* DEFAULTS */



table.testtable{
	border:0px solid;
}

table.testtable tr,td.tdform{
	border:0px solid;
}

table.test_admintable{
    float: right;
}

 table.test_admintable tr.arrow1	{
	 float:left;
     bottom: 20px;
     position: relative;
     border:0px solid;
 }

table.test_admintable td.arrow{
 	float:left;
    position: relative;
    border:0px;
    width: 100px;
	}

.arrow{
	border:0px;
	}

#ccidealplatform_radio{
 		color:#000000;
	}

#ccidealplatform_radio .radiobtn{
	min-width: 20px;
	}

#ccidealplatform_img img{
		border:0 none;
		margin:0;
		padding:0;
	}

.clear{
	clear:both;
	}


.cross_17{
    bottom: 5px;
    float: left;
    position: relative;

	}

.article_class{
	float:none;
	}

/*div.ccfull{
	max-width:420px;
    float: left;
    margin: 0 0 0 200px;
    padding: 0;
}*/

.ccfull{
	max-width:400px;
    /*float: left;
    margin: 0 0 0 120px;
    padding: 0;*/
}

div.ccleft{
	float:left;
	/*width:auto;*/
}

div.ccright{
	float:right;
	padding-top: 35px;
	/*padding-left:10px;*/
}

div.suss{
	font-size:13px;
	font-weight:bold;
	padding:30px 0 0;
	font-family:Arial;
}

div.ccll
{
	float:left;
}

div.cclr{

	float: left;
    padding-left:10px;
    padding-top: 35px;
}

.ccmlimage
{
	background: url(../images/next_go_to_bank.jpg) repeat-x left top;
	width: 110px;
	height:23px;
	color:#ffffff;
	font-size: 13px;
	font-weight: bold;
	font-family: arial;
}

div.sobidiv{
	margin-left:13px;
}

.ccselectbox
{
	font-size:15px;
}

div.statusdropdown{
	float:left;
}

div.paymentstatus{
	width:60%;
}

.err1{
	font-family:arial;
	font-size:13px;
	line-height:20px;
	padding:0 0 0 0px;
}

.cross{
	float:left;
	margin:3px 3px 0;
}

div.cros{
	text-align:left;
	float:left;
	width:390px;
	position:relative;
	left:190px;
}

/* RSForm Styles*/

ul.rsform_leftnav li a span#ideal_span {
    background: url(../images/ideal.png) no-repeat scroll 8px center transparent;
}

#rsform_firstleftnav .component_img{

	background: url("../images/rsform_bg_ideal.JPG") no-repeat scroll 0 0 transparent;
    bottom: 10px;
    height: 27px;
    margin: 0;
    padding: 7px 0 0 30px;
    position: relative;
    width: 220px;
    }

.enable_class{
    background: none repeat scroll 0 0 #FFE9E9;
    border: 1px solid #FFA3A3;
    left: 120px;
    padding: 10px;
    position: relative;
    width: 450px;
}
/* END */

.ccidealplatform_content{
	background:#808080;
	text-align:center;
	font-size: 14px;
	font-weight: bold;
	padding:3px 0 0;
	height:20px;
}

/* CONTENT PLUGIN */

.ccidealplatform_content_plugin_box
{
	border:1px solid #E4E4E2;
	float:left;
	width:530px;
	margin-top: 10px;
}

.ccidealplatform_content_plugin_title
{
	background:#E4E4E2;
	font-size: 14px;
	font-weight: bold;
	padding:3px 0 0;
	height:20px;
}

table.idealcontent tr,table.idealcontent td{
	border:0px;
}

table.idealcontent{
	width:100%;
}	

.ccidealplatform_content_plugin_image
{
	float:left;
	margin:10px;
}

.ccidealplatform_content_plugin_fieldset
{
	float:right;	
	margin:8px;
	width:340px;
}

.ccidealplatform_content_plugin_fields
{width: 142px;}

.ccidealplatform_content_plugin_labels
{
	width: auto;
	padding:2px;
}

.ccidealplatform_content_plugin_submit
{
	margin-top:5px;
	background: url(../images/plugin_next_button.jpg) repeat-x left top;
	width: 200px;
	height:23px;
	color:#ffffff;
	font-size: 13px;
	font-weight: bold;
	font-family: arial;
	float:left ;

}

/*CONTENT PLUGIN CSS added in cciDEAl Platform 2.7.0 */


.ccidealplatform_textareacontent{
	position:relative;
	width:142px;
	height:100px;
	}


 /* SITE MESSAGES */

div.green_message_box,div.red_message_box
{
	font-size: 10pt;
    font-weight: bold;
    padding: 10px;
    width: 560px;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
}


div.green_message_box
{
 	background: none repeat scroll 0 0 #F0FFEA;
    border: 1px solid #CCEDC0;
    font-weight: normal;
}

div.red_message_box
{
 	background: none repeat scroll 0 0 #FFE9E9;
    border: 1px solid #FFA3A3;
    font-weight: normal;
}

.ccmargin_Redbox{
	margin: 0 10px 0 0;
}

.ccmargin_RedboxFloat{
	margin: 0 10px 0 0;
	float:left;
}
table.testform tr td, table.testform tr {
	border:0px solid;
}
div.bankfm_space{
	padding-top: 26px;
}
form.idealform div.row{
	margin-left:0px;
}

.bform_select{
	height: 45px !important;
	width:100% !important;
}