#mod_gurucpanel li, .mod_guru_courses li{
	list-style: none;
}
div.ij_course{
	display:inline;
}
.guru_course_name h5{
	margin:0 0 5px 0;
}
.ij_mod_thumb{
	margin-right:8px;
	margin-top: 4px;
	border: 1px solid #DDDDDD;
}
ul.ij_mod_details{
	margin:0 0 10px 0;
}
.ij_mod_thumb img{
	padding: 5px;
}
ul.ij_mod_details li{
	display: inline;
	margin-right: 10px;
	font-size: 11px;
}
.ij_course p{
	font-size: 13px;
	line-height :15px;
}
.mod_guru_courses:last-child{
	border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
#mod_gurucpanel .ij_mod_details{
	padding: 0; 
}
.mod_guru_courses{
 	border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
}
.guru_plugin_empty {
    color: #999999;
    padding: 30px 0;
    text-align: center;
}
.ij_couurse_cont{
	text-align: justify;
}
.plg_guru_description_disabled{
	float: right;
	width: 50%;
	margin-top: -10px;
}
.plg_guru_all_disabled{
	float: right;
	width: 100%;
	margin-top: -10px;
}
/* fontawesome */
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=3.2.1');src:url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');font-weight:normal;font-style:normal}[class^="mod_guru-icon-"],[class*=" mod_guru-icon-"]{font-family:FontAwesome!important;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em}[class^="mod_guru-icon-"]:before,[class*=" mod_guru-icon-"]:before{text-decoration:inherit;display:inline-block;speak:none}.mod_guru-icon-large:before{vertical-align:-10%;font-size:1.3333333333333333em}a [class^="mod_guru-icon-"],a [class*=" mod_guru-icon-"]{display:inline}[class^="mod_guru-icon-"].mod_guru-icon-fixed-width,[class*=" mod_guru-icon-"].mod_guru-icon-fixed-width{display:inline-block;width:1.1428571428571428em;text-align:right;padding-right:.2857142857142857em}[class^="mod_guru-icon-"].mod_guru-icon-fixed-width.mod_guru-icon-large,[class*=" mod_guru-icon-"].mod_guru-icon-fixed-width.mod_guru-icon-large{width:1.4285714285714286em}.mod_guru-icons-ul{margin-left:2.142857142857143em;list-style-type:none}.mod_guru-icons-ul>li{position:relative}.mod_guru-icons-ul .mod_guru-icon-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;text-align:center;line-height:inherit}[class^="mod_guru-icon-"].hide,[class*=" mod_guru-icon-"].hide{display:none}.mod_guru-icon-muted{color:#eee}.mod_guru-icon-light{color:#fff}.mod_guru-icon-dark{color:#333}.mod_guru-icon-border{border:solid 1px #eee;padding:.2em .25em .15em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.mod_guru-icon-2x{font-size:2em}.mod_guru-icon-2x.mod_guru-icon-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.mod_guru-icon-3x{font-size:3em}.mod_guru-icon-3x.mod_guru-icon-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.mod_guru-icon-4x{font-size:4em}.mod_guru-icon-4x.mod_guru-icon-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.mod_guru-icon-5x{font-size:5em}.mod_guru-icon-5x.mod_guru-icon-border{border-width:5px;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}.pull-right{float:right}.pull-left{float:left}[class^="mod_guru-icon-"].pull-left,[class*=" mod_guru-icon-"].pull-left{margin-right:.3em}[class^="mod_guru-icon-"].pull-right,[class*=" mod_guru-icon-"].pull-right{margin-left:.3em}[class^="mod_guru-icon-"],[class*=" mod_guru-icon-"]{display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0 0;background-repeat:repeat;margin-top:0}.mod_guru-icon-white,.nav-pills>.active>a>[class^="mod_guru-icon-"],.nav-pills>.active>a>[class*=" mod_guru-icon-"],.nav-list>.active>a>[class^="mod_guru-icon-"],.nav-list>.active>a>[class*=" mod_guru-icon-"],.navbar-inverse .nav>.active>a>[class^="mod_guru-icon-"],.navbar-inverse .nav>.active>a>[class*=" mod_guru-icon-"],.dropdown-menu>li>a:hover>[class^="mod_guru-icon-"],.dropdown-menu>li>a:hover>[class*=" mod_guru-icon-"],.dropdown-menu>.active>a>[class^="mod_guru-icon-"],.dropdown-menu>.active>a>[class*=" mod_guru-icon-"],.dropdown-submenu:hover>a>[class^="mod_guru-icon-"],.dropdown-submenu:hover>a>[class*=" mod_guru-icon-"]{background-image:none}.btn [class^="mod_guru-icon-"].mod_guru-icon-large,.nav [class^="mod_guru-icon-"].mod_guru-icon-large,.btn [class*=" mod_guru-icon-"].mod_guru-icon-large,.nav [class*=" mod_guru-icon-"].mod_guru-icon-large{line-height:.9em}.btn [class^="mod_guru-icon-"].mod_guru-icon-spin,.nav [class^="mod_guru-icon-"].mod_guru-icon-spin,.btn [class*=" mod_guru-icon-"].mod_guru-icon-spin,.nav [class*=" mod_guru-icon-"].mod_guru-icon-spin{display:inline-block}.nav-tabs [class^="mod_guru-icon-"],.nav-pills [class^="mod_guru-icon-"],.nav-tabs [class*=" mod_guru-icon-"],.nav-pills [class*=" mod_guru-icon-"],.nav-tabs [class^="mod_guru-icon-"].mod_guru-icon-large,.nav-pills [class^="mod_guru-icon-"].mod_guru-icon-large,.nav-tabs [class*=" mod_guru-icon-"].mod_guru-icon-large,.nav-pills [class*=" mod_guru-icon-"].mod_guru-icon-large{line-height:.9em}.btn [class^="mod_guru-icon-"].pull-left.mod_guru-icon-2x,.btn [class*=" mod_guru-icon-"].pull-left.mod_guru-icon-2x,.btn [class^="mod_guru-icon-"].pull-right.mod_guru-icon-2x,.btn [class*=" mod_guru-icon-"].pull-right.mod_guru-icon-2x{margin-top:.18em}.btn [class^="mod_guru-icon-"].mod_guru-icon-spin.mod_guru-icon-large,.btn [class*=" mod_guru-icon-"].mod_guru-icon-spin.mod_guru-icon-large{line-height:.8em}.btn.btn-small [class^="mod_guru-icon-"].pull-left.mod_guru-icon-2x,.btn.btn-small [class*=" mod_guru-icon-"].pull-left.mod_guru-icon-2x,.btn.btn-small [class^="mod_guru-icon-"].pull-right.mod_guru-icon-2x,.btn.btn-small [class*=" mod_guru-icon-"].pull-right.mod_guru-icon-2x{margin-top:.25em}.btn.btn-large [class^="mod_guru-icon-"],.btn.btn-large [class*=" mod_guru-icon-"]{margin-top:0}.btn.btn-large [class^="mod_guru-icon-"].pull-left.mod_guru-icon-2x,.btn.btn-large [class*=" mod_guru-icon-"].pull-left.mod_guru-icon-2x,.btn.btn-large [class^="mod_guru-icon-"].pull-right.mod_guru-icon-2x,.btn.btn-large [class*=" mod_guru-icon-"].pull-right.mod_guru-icon-2x{margin-top:.05em}.btn.btn-large [class^="mod_guru-icon-"].pull-left.mod_guru-icon-2x,.btn.btn-large [class*=" mod_guru-icon-"].pull-left.mod_guru-icon-2x{margin-right:.2em}.btn.btn-large [class^="mod_guru-icon-"].pull-right.mod_guru-icon-2x,.btn.btn-large [class*=" mod_guru-icon-"].pull-right.mod_guru-icon-2x{margin-left:.2em}.nav-list [class^="mod_guru-icon-"],.nav-list [class*=" mod_guru-icon-"]{line-height:inherit}.mod_guru-icon-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:-35%}.mod_guru-icon-stack [class^="mod_guru-icon-"],.mod_guru-icon-stack [class*=" mod_guru-icon-"]{display:block;text-align:center;position:absolute;width:100%;height:100%;font-size:1em;line-height:inherit;*line-height:2em}.mod_guru-icon-stack .mod_guru-icon-stack-base{font-size:2em;*line-height:1em}.mod_guru-icon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}a .mod_guru-icon-stack,a .mod_guru-icon-spin{display:inline-block;text-decoration:none}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.mod_guru-icon-rotate-90:before{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1)}.mod_guru-icon-rotate-180:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)}.mod_guru-icon-rotate-270:before{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3)}.mod_guru-icon-flip-horizontal:before{-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-ms-transform:scale(-1,1);-o-transform:scale(-1,1);transform:scale(-1,1)}.mod_guru-icon-flip-vertical:before{-webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-ms-transform:scale(1,-1);-o-transform:scale(1,-1);transform:scale(1,-1)}a .mod_guru-icon-rotate-90:before,a .mod_guru-icon-rotate-180:before,a .mod_guru-icon-rotate-270:before,a .mod_guru-icon-flip-horizontal:before,a .mod_guru-icon-flip-vertical:before{display:inline-block}#mod_gurucpanel .mod_guru-icon-group:before{content:"\f0c0"} #mod_gurucpanel .mod_guru-icon-signal:before{content:"\f012"} #mod_gurucpanel .mod_guru-icon-user:before{content:"\f007"}