@font-face {
	font-family: 'IcoMoon';
	src: url('../fonts/IcoMoon.eot');
	src: url('../fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('../fonts/IcoMoon.woff') format('woff'),
		url('../fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.chillcreations-bootstrap [data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}
.chillcreations-bootstrap [class^="icon-"],
.chillcreations-bootstrap [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
}
.chillcreations-bootstrap [class^="icon-"]:before,
.chillcreations-bootstrap [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.chillcreations-bootstrap [class^="icon-"].disabled,
.chillcreations-bootstrap [class*=" icon-"].disabled {
	font-weight: normal;
}
.chillcreations-bootstrap .icon-joomla:before {
	content: "\e200";
}
.chillcreations-bootstrap .icon-chevron-up:before,
.chillcreations-bootstrap .icon-uparrow:before,
.chillcreations-bootstrap .icon-arrow-up:before {
	content: "\e005";
}
.chillcreations-bootstrap .icon-chevron-right:before,
.chillcreations-bootstrap .icon-rightarrow:before,
.chillcreations-bootstrap .icon-arrow-right:before{
	content: "\e006";
}
.chillcreations-bootstrap .icon-chevron-down:before,
.chillcreations-bootstrap .icon-downarrow:before,
.chillcreations-bootstrap .icon-arrow-down:before {
	content: "\e007";
}
.chillcreations-bootstrap .icon-chevron-left:before,
.chillcreations-bootstrap .icon-leftarrow:before,
.chillcreations-bootstrap .icon-arrow-left:before {
	content: "\e008";
}
.chillcreations-bootstrap .icon-arrow-first:before {
	content: "\e003";
}
.chillcreations-bootstrap .icon-arrow-last:before {
	content: "\e004";
}
.chillcreations-bootstrap .icon-arrow-up-2:before {
	content: "\e009";
}
.chillcreations-bootstrap .icon-arrow-right-2:before {
	content: "\e00a";
}
.chillcreations-bootstrap .icon-arrow-down-2:before {
	content: "\e00b";
}
.chillcreations-bootstrap .icon-arrow-left-2:before {
	content: "\e00c";
}
.chillcreations-bootstrap .icon-arrow-up-3:before {
	content: "\e00f";
}
.chillcreations-bootstrap .icon-arrow-right-3:before {
	content: "\e010";
}
.chillcreations-bootstrap .icon-arrow-down-3:before {
	content: "\e011";
}
.chillcreations-bootstrap .icon-arrow-left-3:before {
	content: "\e012";
}
.chillcreations-bootstrap .icon-menu-2:before {
	content: "\e00e";
}
.chillcreations-bootstrap .icon-arrow-up-4:before {
	content: "\e201";
}
.chillcreations-bootstrap .icon-arrow-right-4:before {
	content: "\e202";
}
.chillcreations-bootstrap .icon-arrow-down-4:before {
	content: "\e203";
}
.chillcreations-bootstrap .icon-arrow-left-4:before {
	content: "\e204";
}
.chillcreations-bootstrap .icon-share:before,
.chillcreations-bootstrap .icon-redo:before {
	content: "\27";
}
.chillcreations-bootstrap .icon-undo:before {
	content: "\28";
}
.chillcreations-bootstrap .icon-forward-2:before {
	content: "\e205";
}
.chillcreations-bootstrap .icon-backward-2:before,
.chillcreations-bootstrap .icon-reply:before {
	content: "\e206";
}
.chillcreations-bootstrap .icon-unblock:before,
.chillcreations-bootstrap .icon-refresh:before,
.chillcreations-bootstrap .icon-redo-2:before {
	content: "\6c";
}
.chillcreations-bootstrap .icon-undo-2:before {
	content: "\e207";
}
.chillcreations-bootstrap .icon-move:before {
	content: "\7a";
}
.chillcreations-bootstrap .icon-expand:before {
	content: "\66";
}
.chillcreations-bootstrap .icon-contract:before {
	content: "\67";
}
.chillcreations-bootstrap .icon-expand-2:before {
	content: "\68";
}
.chillcreations-bootstrap .icon-contract-2:before {
	content: "\69";
}
.chillcreations-bootstrap .icon-play:before {
	content: "\e208";
}
.chillcreations-bootstrap .icon-pause:before {
	content: "\e209";
}
.chillcreations-bootstrap .icon-stop:before {
	content: "\e210";
}
.chillcreations-bootstrap .icon-previous:before,
.chillcreations-bootstrap .icon-backward:before {
	content: "\7c";
}
.chillcreations-bootstrap .icon-next:before,
.chillcreations-bootstrap .icon-forward:before {
	content: "\7b";
}
.chillcreations-bootstrap .icon-first:before {
	content: "\7d";
}
.chillcreations-bootstrap .icon-last:before {
	content: "\e000";
}
.chillcreations-bootstrap .icon-play-circle:before {
	content: "\e00d";
}
.chillcreations-bootstrap .icon-pause-circle:before {
	content: "\e211";
}
.chillcreations-bootstrap .icon-stop-circle:before {
	content: "\e212";
}
.chillcreations-bootstrap .icon-backward-circle:before {
	content: "\e213";
}
.chillcreations-bootstrap .icon-forward-circle:before {
	content: "\e214";
}
.chillcreations-bootstrap .icon-loop:before {
	content: "\e001";
}
.chillcreations-bootstrap .icon-shuffle:before {
	content: "\e002";
}
.chillcreations-bootstrap .icon-search:before {
	content: "\53";
}
.chillcreations-bootstrap .icon-zoom-in:before {
	content: "\64";
}
.chillcreations-bootstrap .icon-zoom-out:before {
	content: "\65";
}
.chillcreations-bootstrap .icon-apply:before,
.chillcreations-bootstrap .icon-edit:before,
.chillcreations-bootstrap .icon-pencil:before {
	content: "\2b";
}
.chillcreations-bootstrap .icon-pencil-2:before {
	content: "\2c";
}
.chillcreations-bootstrap .icon-brush:before {
	content: "\3b";
}
.chillcreations-bootstrap .icon-save-new:before,
.chillcreations-bootstrap .icon-plus-2:before  {
	content: "\5d";
}
.chillcreations-bootstrap .icon-ban-circle:before,
.chillcreations-bootstrap .icon-minus-sign:before,
.chillcreations-bootstrap .icon-minus-2:before {
	content: "\5e";
}
.chillcreations-bootstrap .icon-delete:before,
.chillcreations-bootstrap .icon-remove:before,
.chillcreations-bootstrap .icon-cancel-2:before {
	content: "\49";
}
.chillcreations-bootstrap .icon-publish:before,
.chillcreations-bootstrap .icon-save:before,
.chillcreations-bootstrap .icon-ok:before,
.chillcreations-bootstrap .icon-checkmark:before {
	content: "\47";
}
.chillcreations-bootstrap .icon-new:before,
.chillcreations-bootstrap .icon-plus:before {
	content: "\2a";
}
.chillcreations-bootstrap .icon-plus-circle:before {
	content: "\e215";
}
.chillcreations-bootstrap .icon-minus:before,
.chillcreations-bootstrap .icon-not-ok:before {
	content: "\4b";
}
.chillcreations-bootstrap .icon-minus-circle:before {
	content: "\e216";
}
.chillcreations-bootstrap .icon-unpublish:before,
.chillcreations-bootstrap .icon-cancel:before {
	content: "\4a";
}
.chillcreations-bootstrap .icon-cancel-circle:before {
	content: "\e217";
}
.chillcreations-bootstrap .icon-checkmark-2:before {
	content: "\e218";
}
.chillcreations-bootstrap .icon-checkmark-circle:before {
	content: "\e219";
}
.chillcreations-bootstrap .icon-info:before {
	content: "\e220";
}
.chillcreations-bootstrap .icon-info-2:before,
.chillcreations-bootstrap .icon-info-circle:before {
	content: "\e221";
}
.chillcreations-bootstrap .icon-question:before,
.chillcreations-bootstrap .icon-question-sign:before,
.chillcreations-bootstrap .icon-help:before {
	content: "\45";
}
.chillcreations-bootstrap .icon-question-2:before,
.chillcreations-bootstrap .icon-question-circle:before {
	content: "\e222";
}
.chillcreations-bootstrap .icon-notification:before {
	content: "\e223";
}
.chillcreations-bootstrap .icon-notification-2:before,
.chillcreations-bootstrap .icon-notification-circle:before {
	content: "\e224";
}
.chillcreations-bootstrap .icon-pending:before,
.chillcreations-bootstrap .icon-warning:before {
	content: "\48";
}
.chillcreations-bootstrap .icon-warning-2:before,
.chillcreations-bootstrap .icon-warning-circle:before {
	content: "\e225";
}
.chillcreations-bootstrap .icon-checkbox-unchecked:before {
	content: "\3d";
}
.chillcreations-bootstrap .icon-checkin:before,
.chillcreations-bootstrap .icon-checkbox:before,
.chillcreations-bootstrap .icon-checkbox-checked:before {
	content: "\3e";
}
.chillcreations-bootstrap .icon-checkbox-partial:before {
	content: "\3f";
}
.chillcreations-bootstrap .icon-square:before {
	content: "\e226";
}
.chillcreations-bootstrap .icon-radio-unchecked:before {
	content: "\e227";
}
.chillcreations-bootstrap .icon-radio-checked:before {
	content: "\e228";
}
.chillcreations-bootstrap .icon-circle:before {
	content: "\e229";
}
.chillcreations-bootstrap .icon-signup:before {
	content: "\e230";
}
.chillcreations-bootstrap .icon-grid:before,
.chillcreations-bootstrap .icon-grid-view:before {
	content: "\58";
}
.chillcreations-bootstrap .icon-grid-2:before,
.chillcreations-bootstrap .icon-grid-view-2:before {
	content: "\59";
}
.chillcreations-bootstrap .icon-menu:before {
	content: "\5a";
}
.chillcreations-bootstrap .icon-list:before,
.chillcreations-bootstrap .icon-list-view:before {
	content: "\31";
}
.chillcreations-bootstrap .icon-list-2:before {
	content: "\e231";
}
.chillcreations-bootstrap .icon-menu-3:before {
	content: "\e232";
}
.chillcreations-bootstrap .icon-folder-open:before,
.chillcreations-bootstrap .icon-folder:before {
	content: "\2d";
}
.chillcreations-bootstrap .icon-folder-close:before,
.chillcreations-bootstrap .icon-folder-2:before {
	content: "\2e";
}
.chillcreations-bootstrap .icon-folder-plus:before {
	content: "\e234";
}
.chillcreations-bootstrap .icon-folder-minus:before {
	content: "\e235";
}
.chillcreations-bootstrap .icon-folder-3:before {
	content: "\e236";
}
.chillcreations-bootstrap .icon-folder-plus-2:before {
	content: "\e237";
}
.chillcreations-bootstrap .icon-folder-remove:before {
	content: "\e238";
}
.chillcreations-bootstrap .icon-file:before {
	content: "\e016";
}
.chillcreations-bootstrap .icon-file-2:before {
	content: "\e239";
}
.chillcreations-bootstrap .icon-file-add:before,
.chillcreations-bootstrap .icon-file-plus:before {
	content: "\29";
}
.chillcreations-bootstrap .icon-file-remove:before,
.chillcreations-bootstrap .icon-file-minus:before {
	content: "\e017";
}
.chillcreations-bootstrap .icon-file-check:before {
	content: "\e240";
}
.chillcreations-bootstrap .icon-file-remove:before {
	content: "\e241";
}
.chillcreations-bootstrap .icon-save-copy:before,
.chillcreations-bootstrap .icon-copy:before {
	content: "\e018";
}
.chillcreations-bootstrap .icon-stack:before {
	content: "\e242";
}
.chillcreations-bootstrap .icon-tree:before {
	content: "\e243";
}
.chillcreations-bootstrap .icon-tree-2:before {
	content: "\e244";
}
.chillcreations-bootstrap .icon-paragraph-left:before {
	content: "\e246";
}
.chillcreations-bootstrap .icon-paragraph-center:before {
	content: "\e247";
}
.chillcreations-bootstrap .icon-paragraph-right:before {
	content: "\e248";
}
.chillcreations-bootstrap .icon-paragraph-justify:before {
	content: "\e249";
}
.chillcreations-bootstrap .icon-screen:before {
	content: "\e01c";
}
.chillcreations-bootstrap .icon-tablet:before {
	content: "\e01d";
}
.chillcreations-bootstrap .icon-mobile:before {
	content: "\e01e";
}
.chillcreations-bootstrap .icon-box-add:before {
	content: "\51";
}
.chillcreations-bootstrap .icon-box-remove:before {
	content: "\52";
}
.chillcreations-bootstrap .icon-download:before {
	content: "\e021";
}
.chillcreations-bootstrap .icon-upload:before {
	content: "\e022";
}
.chillcreations-bootstrap .icon-home:before {
	content: "\21";
}
.chillcreations-bootstrap .icon-home-2:before {
	content: "\e250";
}
.chillcreations-bootstrap .icon-out-2:before,
.chillcreations-bootstrap .icon-new-tab:before {
	content: "\e024";
}
.chillcreations-bootstrap .icon-out-3:before,
.chillcreations-bootstrap .icon-new-tab-2:before {
	content: "\e251";
}
.chillcreations-bootstrap .icon-link:before {
	content: "\e252";
}
.chillcreations-bootstrap .icon-picture:before,
.chillcreations-bootstrap .icon-image:before {
	content: "\2f";
}
.chillcreations-bootstrap .icon-pictures:before,
.chillcreations-bootstrap .icon-images:before {
	content: "\30";
}
.chillcreations-bootstrap .icon-palette:before,
.chillcreations-bootstrap .icon-color-palette:before {
	content: "\e014";
}
.chillcreations-bootstrap .icon-camera:before {
	content: "\55";
}
.chillcreations-bootstrap .icon-camera-2:before,
.chillcreations-bootstrap .icon-video:before {
	content: "\e015";
}
.chillcreations-bootstrap .icon-play-2:before,
.chillcreations-bootstrap .icon-video-2:before,
.chillcreations-bootstrap .icon-youtube:before {
	content: "\56";
}
.chillcreations-bootstrap .icon-music:before {
	content: "\57";
}
.chillcreations-bootstrap .icon-user:before {
	content: "\22";
}
.chillcreations-bootstrap .icon-users:before {
	content: "\e01f";
}
.chillcreations-bootstrap .icon-vcard:before {
	content: "\6d";
}
.chillcreations-bootstrap .icon-address:before {
	content: "\70";
}
.chillcreations-bootstrap .icon-share-alt:before,
.chillcreations-bootstrap .icon-out:before {
	content: "\26";
}
.chillcreations-bootstrap .icon-enter:before {
	content: "\e257";
}
.chillcreations-bootstrap .icon-exit:before {
	content: "\e258";
}
.chillcreations-bootstrap .icon-comment:before,
.chillcreations-bootstrap .icon-comments:before {
	content: "\24";
}
.chillcreations-bootstrap .icon-comments-2:before {
	content: "\25";
}
.chillcreations-bootstrap .icon-quote:before,
.chillcreations-bootstrap .icon-quotes-left:before {
	content: "\60";
}
.chillcreations-bootstrap .icon-quote-2:before,
.chillcreations-bootstrap .icon-quotes-right:before {
	content: "\61";
}
.chillcreations-bootstrap .icon-quote-3:before,
.chillcreations-bootstrap .icon-bubble-quote:before {
	content: "\e259";
}
.chillcreations-bootstrap .icon-phone:before {
	content: "\e260";
}
.chillcreations-bootstrap .icon-phone-2:before {
	content: "\e261";
}
.chillcreations-bootstrap .icon-envelope:before,
.chillcreations-bootstrap .icon-mail:before {
	content: "\4d";
}
.chillcreations-bootstrap .icon-envelope-opened:before,
.chillcreations-bootstrap .icon-mail-2:before {
	content: "\4e";
}
.chillcreations-bootstrap .icon-unarchive:before,
.chillcreations-bootstrap .icon-drawer:before {
	content: "\4f";
}
.chillcreations-bootstrap .icon-archive:before,
.chillcreations-bootstrap .icon-drawer-2:before {
	content: "\50";
}
.chillcreations-bootstrap .icon-briefcase:before {
	content: "\e020";
}
.chillcreations-bootstrap .icon-tag:before {
	content: "\e262";
}
.chillcreations-bootstrap .icon-tag-2:before {
	content: "\e263";
}
.chillcreations-bootstrap .icon-tags:before {
	content: "\e264";
}
.chillcreations-bootstrap .icon-tags-2:before {
	content: "\e265";
}
.chillcreations-bootstrap .icon-options:before,
.chillcreations-bootstrap .icon-cog:before {
	content: "\38";
}
.chillcreations-bootstrap .icon-cogs:before {
	content: "\37";
}
.chillcreations-bootstrap .icon-screwdriver:before,
.chillcreations-bootstrap .icon-tools:before {
	content: "\36";
}
.chillcreations-bootstrap .icon-wrench:before {
	content: "\3a";
}
.chillcreations-bootstrap .icon-equalizer:before {
	content: "\39";
}
.chillcreations-bootstrap .icon-dashboard:before {
	content: "\78";
}
.chillcreations-bootstrap .icon-switch:before {
	content: "\e266";
}
.chillcreations-bootstrap .icon-filter:before {
	content: "\54";
}
.chillcreations-bootstrap .icon-purge:before,
.chillcreations-bootstrap .icon-trash:before {
	content: "\4c";
}
.chillcreations-bootstrap .icon-checkedout:before,
.chillcreations-bootstrap .icon-lock:before,
.chillcreations-bootstrap .icon-locked:before {
	content: "\23";
}
.chillcreations-bootstrap .icon-unlock:before {
	content: "\e267";
}
.chillcreations-bootstrap .icon-key:before {
	content: "\5f";
}
.chillcreations-bootstrap .icon-support:before {
	content: "\46";
}
.chillcreations-bootstrap .icon-database:before {
	content: "\62";
}
.chillcreations-bootstrap .icon-scissors:before {
	content: "\e268";
}
.chillcreations-bootstrap .icon-health:before {
	content: "\6a";
}
.chillcreations-bootstrap .icon-wand:before {
	content: "\6b";
}
.chillcreations-bootstrap .icon-eye-open:before,
.chillcreations-bootstrap .icon-eye:before {
	content: "\3c";
}
.chillcreations-bootstrap .icon-eye-close:before,
.chillcreations-bootstrap .icon-eye-blocked:before,
.chillcreations-bootstrap .icon-eye-2:before {
	content: "\e269";
}
.chillcreations-bootstrap .icon-clock:before {
	content: "\6e";
}
.chillcreations-bootstrap .icon-compass:before {
	content: "\6f";
}
.chillcreations-bootstrap .icon-broadcast:before,
.chillcreations-bootstrap .icon-connection:before,
.chillcreations-bootstrap .icon-wifi:before {
	content: "\e01b";
}
.chillcreations-bootstrap .icon-book:before {
	content: "\e271";
}
.chillcreations-bootstrap .icon-lightning:before,
.chillcreations-bootstrap .icon-flash:before {
	content: "\79";
}
.chillcreations-bootstrap .icon-print:before,
.chillcreations-bootstrap .icon-printer:before {
	content: "\e013";
}
.chillcreations-bootstrap .icon-feed:before {
	content: "\71";
}
.chillcreations-bootstrap .icon-calendar:before {
	content: "\43";
}
.chillcreations-bootstrap .icon-calendar-2:before {
	content: "\44";
}
.chillcreations-bootstrap .icon-calendar-3:before {
	content: "\e273";
}
.chillcreations-bootstrap .icon-pie:before {
	content: "\77";
}
.chillcreations-bootstrap .icon-bars:before {
	content: "\76";
}
.chillcreations-bootstrap .icon-chart:before {
	content: "\75";
}
.chillcreations-bootstrap .icon-power-cord:before {
	content: "\32";
}
.chillcreations-bootstrap .icon-cube:before {
	content: "\33";
}
.chillcreations-bootstrap .icon-puzzle:before {
	content: "\34";
}
.chillcreations-bootstrap .icon-attachment:before,
.chillcreations-bootstrap .icon-paperclip:before,
.chillcreations-bootstrap .icon-flag-2:before {
	content: "\72";
}
.chillcreations-bootstrap .icon-lamp:before {
	content: "\74";
}
.chillcreations-bootstrap .icon-pin:before,
.chillcreations-bootstrap .icon-pushpin:before {
	content: "\73";
}
.chillcreations-bootstrap .icon-location:before {
	content: "\63";
}
.chillcreations-bootstrap .icon-shield:before {
	content: "\e274";
}
.chillcreations-bootstrap .icon-flag:before {
	content: "\35";
}
.chillcreations-bootstrap .icon-flag-3:before {
	content: "\e275";
}
.chillcreations-bootstrap .icon-bookmark:before {
	content: "\e023";
}
.chillcreations-bootstrap .icon-bookmark-2:before {
	content: "\e276";
}
.chillcreations-bootstrap .icon-heart:before {
	content: "\e277";
}
.chillcreations-bootstrap .icon-heart-2:before {
	content: "\e278";
}
.chillcreations-bootstrap .icon-thumbs-up:before {
	content: "\5b";
}
.chillcreations-bootstrap .icon-thumbs-down:before{
	content: "\5c";
}
.chillcreations-bootstrap .icon-unfeatured:before,
.chillcreations-bootstrap .icon-asterisk:before,
.chillcreations-bootstrap .icon-star-empty:before {
	content: "\40";
}
.chillcreations-bootstrap .icon-star-2:before {
	content: "\41";
}
.chillcreations-bootstrap .icon-featured:before,
.chillcreations-bootstrap .icon-default:before,
.chillcreations-bootstrap .icon-star:before{
	content: "\42";
}
.chillcreations-bootstrap .icon-smiley:before,
.chillcreations-bootstrap .icon-smiley-happy:before {
	content: "\e279";
}
.chillcreations-bootstrap .icon-smiley-2:before,
.chillcreations-bootstrap .icon-smiley-happy-2:before {
	content: "\e280";
}
.chillcreations-bootstrap .icon-smiley-sad:before {
	content: "\e281";
}
.chillcreations-bootstrap .icon-smiley-sad-2:before {
	content: "\e282";
}
.chillcreations-bootstrap .icon-smiley-neutral:before {
	content: "\e283";
}
.chillcreations-bootstrap .icon-smiley-neutral-2:before {
	content: "\e284";
}
.chillcreations-bootstrap .icon-cart:before {
	content: "\e019";
}
.chillcreations-bootstrap .icon-basket:before {
	content: "\e01a";
}
.chillcreations-bootstrap .icon-credit:before {
	content: "\e286";
}
.chillcreations-bootstrap .icon-credit-2:before {
	content: "\e287";
}