/**
 * @package         Regular Labs Extension Manager
 * @version         7.4.0
 * 
 * @author          Peter van Westen <info@regularlabs.com>
 * @link            http://www.regularlabs.com
 * @copyright       Copyright © 2018 Regular Labs All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
html,
body {
  height: auto !important;
  overflow-y: auto !important;
}
#rlem h2 {
  min-height: 26px;
}
#rlem .table {
  margin-bottom: 0;
}
#rlem td {
  height: 20px;
}
#rlem td.ext_name {
  font-size: 16px;
}
#rlem .progress {
  margin-bottom: 1px;
}
#rlem .label small {
  white-space: normal;
}
#system-message-container {
  display: none;
}
