/**
 * @package         Regular Labs Extension Manager
 * @version         7.4.0
 * 
 * @author          Peter van Westen <info@regularlabs.com>
 * @link            http://www.regularlabs.com
 * @copyright       Copyright © 2018 Regular Labs All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
#rlem input[type="checkbox"] {
  margin-top: 0;
}
#rlem td {
  height: 28px;
}
#rlem .progress {
  margin-bottom: 0;
}
#rlem .alert {
  margin-bottom: 0;
  padding: 2px 6px;
}
#rlem span.hasPopover {
  display: inline-block;
}
.com_regularlabsmanager .popover {
  width: auto;
  max-width: 600px;
}
/* Not on mobile */
@media (min-width: 768px) {
  #rlem td.ext_name {
    font-size: 16px;
  }
}
table.hide_not_installed tbody tr.not_installed {
  display: none;
}
.installselected,
.updateall,
.reinstallall,
div.has_install .installselected_disabled,
div.has_update .installselected_disabled,
div.has_update .updateall_disabled,
div.has_reinstall .reinstallall_disabled {
  display: none !important;
}
div.has_install .installselected,
div.has_update .installselected,
div.has_update .updateall,
div.has_reinstall .reinstallall {
  display: block !important;
}
@media (min-width: 481px) {
  div.has_install .installselected,
  div.has_update .installselected,
  div.has_update .updateall,
  div.has_reinstall .reinstallall {
    display: inline-block !important;
  }
}
.well.well-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.well > h4 {
  margin-top: 0;
}
#toolbar .btn-success.refresh {
  min-width: 0;
  width: auto;
}
@media (max-width: 480px) {
  .nowrap.ext_name {
    white-space: normal;
  }
}
