/* ===========================
	gru new tmplate:
==============================*/
/* ===========================
	common
==============================*/
/* buttons */
/* button default*/

#js-cpanel a.modal{

	background: #4AA3DF;

	padding: 5px;

	border-radius: 4px;

	color: #fff;

	transition: all 0.15s;

	margin-right: 5px;

}

#js-cpanel a.modal:hover{

	background: #188DDB;

	text-decoration: none;

}

div#js-cpanel .btn-default, 

div#js-cpanel .btn{

	/*background: none repeat scroll 0 0 #4aa3df !important;

    border: 1px solid #357DCE !important;*/

    border-radius: 4px !important;

    padding: 4px 12px !important;

    line-height: 15px !important;

    margin-right: 5px;

    color: #fff !important;

    text-shadow: none !important;

}

div#js-cpanel .g_btn{

	background: none repeat scroll 0 0 #7f8c8d !important;

    border: 1px solid #7f8c8d !important;

    border-radius: 4px !important;

    padding: 4px 12px !important;

    line-height: 21px !important;

    margin-right: 5px;

    color: #fff !important;

    text-shadow: none !important;

}
div#js-cpanel .g_btn-warning{

	background: none repeat scroll 0 0 #faa732 !important;

    border: 1px solid #faa732 !important;

    border-radius: 4px !important;

    padding: 4px 12px !important;

    line-height: 21px !important;

    margin-right: 5px;

    color: #fff !important;

    text-shadow: none !important;
	cursor:pointer;

}



div#js-cpanel .btn-default:hover, 

div#js-cpanel .btn:hover{

	/*background: none repeat scroll 0 0 #188DDB !important;*/
}



/*button toolbar*/

div#js-cpanel #toolbar.btn-toolbar .btn{

	background: none repeat scroll 0 0 #F8F8F8 !important;

    border: 1px solid #DDDDDD !important;

    padding: 3px 12px !important;

    color: #000 !important;

}

div#js-cpanel #toolbar.btn-toolbar .btn:hover{

	background: none repeat scroll 0 0 #EEEEEE !important;

}



/* button success*/

div#js-cpanel #toolbar.btn-toolbar .btn.btn-success{

	background: none repeat scroll 0 0 #87B87F !important;

    border: 1px solid #87B87F !important;

    padding: 4px 12px !important;

    line-height: 21px !important;

    color: #fff !important;

}

div#js-cpanel #toolbar.btn-toolbar .btn.btn-success:hover{

	background: none repeat scroll 0 0 #629B58 !important;

}



/*save button*/

#js-cpanel #toolbar #toolbar-save .btn, 

#js-cpanel #toolbar-save .btn {

    background: none repeat scroll 0 0 #87B87F !important;

    border: 1px solid #87B87F !important;

    color: #FFFFFF !important;

    text-shadow: none !important;

}

#js-cpanel #toolbar #toolbar-save .btn:hover, 

#js-cpanel #toolbar-save .btn:hover{

	background: none repeat scroll 0 0 #629B58 !important;

}





/*div.toggle-editor .btn{

	background: none repeat scroll 0 0 #87B87F !important;

    border: 1px solid #87B87F !important;

    padding: 4px 12px !important;

    line-height: 21px;



} 

div.toggle-editor .btn:hover{

	background: none repeat scroll 0 0 #629B58 !important;

};

*/



/* button icons */

.icon-publish:before, 

.icon-save:before, 

/*.icon-ok:before,*/ 

.icon-save-copy:before, 

.btn-toolbar .icon-copy:before{



}

.icon-save:before, 

/*.icon-ok:before, */

.icon-save-copy:before, 

.btn-toolbar .icon-copy:before{

	color: #fff !important;

}

.icon-publish:before{

	color: #359BED !important;

}

/* button exceptions*/

div#status{

	box-shadow: none !important;

}

.icon-delete:before{

	color: #BD362F !important;

}



/* alart 

------------------------------------------*/

.well.well-minimized, div.well{

	background-color: #D9EDF7 !important;

    border-color: #BCE8F1 !important;

    color: #3A87AD !important;

    font-size: 14px !important;

}

/* =======================================

	Layout

=========================================*/

div.container-fluid{
	padding-left: 0;
	padding-right: 0;
	top:0px !important;
}

.container-main{
	position: relative;
}

div.navbar{
	margin: 0;
}

div.navbar div.navbar-inner{
	min-height: 0;
}

#admin_content_wrapper{
	position: relative;
}

#js-cpanel .widget-body{
	padding-bottom: 10px;
}

/*spans*/

div#js-cpanel .row-fluid .span12{
	width: 100% !important;
}

div#js-cpanel .span9{
	width: 74.3094% !important;
}
div#js-cpanel .row-fluid .span8{
	width: 65.9574% !important;
}



/*inputs*/

#js-cpanel select, 
#js-cpanel textarea, 
#js-cpanel input[type="text"], 
#js-cpanel input[type="password"], 
#js-cpanel input[type="datetime"], 
#js-cpanel input[type="datetime-local"], 
#js-cpanel input[type="date"], 
#js-cpanel input[type="month"], 
#js-cpanel input[type="time"], 
#js-cpanel input[type="week"], 
#js-cpanel input[type="number"], 
#js-cpanel input[type="email"], 
#js-cpanel input[type="url"], 
#js-cpanel input[type="search"], 
#js-cpanel input[type="tel"], 
#js-cpanel input[type="color"], 
#js-cpanel .uneditable-input{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

/*tables*/

table.adminform td,

#adminform table tr td{

	padding-bottom: 10px !important;

	padding-right: 10px !important;

	font-size: 14px !important;
	padding-left: 10px !important;

}
#adminform div.mceEditor table tr td,
#adminform div.mceEditor table.adminform td{
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
div.mceEditor table.mceLayout td{
	padding: 0 !important;
}





/* =======================================

	position spesific

=========================================*/

/* 	top ..............................*/

.g_admin_top_wrap .navbar img{

	width: auto;

	height: 40px;

	padding: 10px 0;

}

nav.navbar-fixed-top .navbar-inner{

	background-color: #13294A;

    background-image: linear-gradient(to bottom, #152D53, #10223E);

    background-image: -moz-linear-gradient(to bottom, #152D53, #10223E);

    background-image: -webkit-linear-gradient(to bottom, #152D53, #10223E);

    background-repeat: repeat-x;

    border-color: #0B172A;

	min-height: 0;

}

.navbar2 .navbar-inner{

	background: none repeat scroll 0 0 #47A9C6;

    border: 0 none;

    border-radius: 0 0 0 0;

    margin: 0;

}

.navbar2 .navbar-inner a{

	color: #fff;

}

.navbar2 .navbar-inner .nav-collapse.collapse{

	background: transparent;

}



/* 	header ...............................*/

header.header{

	display: none;

}

.subhead-collapse.collapse{

	display: none;

}

/* 	toolbar ..............................*/

.btn.btn-subhead{

	display: none;

}

/*  rating  */

#g_rating li{

	list-style: none;

	margin-right: 10px;

	text-align: right;

}

#g_rating li a > span{

	display: none;

}

#g_rating li img{

	height: auto;

	width: 30px;

}



/*	guru nav .............................*/

/*	Side bar .............................*/

/*  main content .........................*/

/* alart */

.well.well-minimized{

	background-color: #D9EDF7;

    border-color: #BCE8F1;

    color: #3A87AD;

    font-size: 14px !important;

    border-radius: 0;

    margin-top: 10px;

}





/* page spesific 

======================================*/

/*layour*/

#js-cpanel .tab-content{

	border: 1px solid #C5D0DC !important;

	border-top: none !important;

	margin-top: 1px;

}

/* guru */

div.statistic-zone > div > div.g_header_table{

	padding: 10px;

}

/* media library*/

#audioblock > td > table{

	width: 100% !important;

}
#g_mediaEdit_size input[type="radio"], #g_mediaEdit_size input[type="checkbox"]{
	margin-top: 0 !important;
}
#g_customMedia_size > td > div > div{
	margin-bottom: 5px;
}

/* kunena forum */

#g_kunena_forum table.adminform td{

	font-size: 14px !important;

}

#g_kunena_forum table.adminform tr > td:first-child{

	width: 40%;

}

#g_kunena_forum table.adminform td > div{

	padding: 10px;

	border-radius: 4px;

}



/* quize */



#quizzesincl > .table > th, 

#quizzesincl > .table > tbody > tr > td{

	border-top: none !important;

}



/* certificate */

#g_certificate_manager #design > div > table > tbody > tr:nth-child(2) td > img{

	padding: 10px;

}



/* content spesific

=====================================*/

/* buttons -> editors

-------------------------------------*/

div#editor-xtd-buttons .btn,

#js-cpanel div.toggle-editor .btn{

	background: none repeat scroll 0 0 #4aa3df !important;

    border: 1px solid #357DCE !important;

    border-radius: 4px !important;

    padding: 4px 12px !important;

    line-height: 21px !important;

    margin-right: 5px;

    color: #fff !important;

    text-shadow: none !important;

}

div#editor-xtd-buttons .btn:last-child,

#js-cpanel div.toggle-editor .btn:last-child{

	margin-right: 0 !important;

}

div#editor-xtd-buttons .btn:hover, 

#js-cpanel div.toggle-editor .btn:hover{

	background: none repeat scroll 0 0 #188DDB !important;

}



/* inputs append */

div#js-cpanel .input-prepend > .btn,

div#js-cpanel .input-append > .btn{

	border-radius: 4px 4px 4px 4px !important;

    line-height: 20px;

    margin-left: 10px;

    padding: 3px 8px !important;

}



/* table in cource */

table.adminform,

#prog_description .adminform, 

#prog_description .adminform > tbody > tr > td > table{

	width: 100% !important;

}

div#prog_metatags .adminform{

	width: 100% !important;

}

#adminForm .tab-content > .tab-pane > .adminform > tbody > tr > td{

	padding-bottom: 10px !important;

}

/*guru c panel basic information

...........................................*/

#g_basicInfo > div > div > div{

	width: 18.15% !important;

	min-height: 

}

#g_basicInfo .infobox{

	min-height: 54px;

}

#g_basicInfo .infobox a{

	color: #fff;

}

div#js-cpanel div.infobox > .infobox-icon{

	margin: 5px 10px 0px -8px !important;

	width: 30px !important;

}

div#js-cpanel div.infobox > .infobox-icon > i{

	width: 100% !important;



}

#js-cpanel .infobox-dark > .infobox-icon > [class*="icon-"], 

#js-cpanel .infobox-dark > .infobox-icon > [class*="icon-"]:before{

	font-size: 25px !important;

}

div#js-cpanel div.infobox > .infobox-data{

	font-size: 25px;

	margin-top: 10px;

}

/*exception*/

div#g_basicInfo div.g_inner_shell > div:first-child > .infobox > .infobox-data{

	font-size: 14px !important;

	font-weight: bold;

	margin-top: 0;

}

#js-cpanel .infobox-dark > .infobox-icon > i.js-icon-group, 

#js-cpanel .infobox-dark > .infobox-icon > i.js-icon-group:before{

	font-size: 22px !important;

}

div#js-cpanel .infobox > .infobox-icon > [class*="icon-"]{

	height: 34px;

}



/* variable tables */

.g_variables{

	margin-bottom: 15px;

	background: rgba(0,0,0,0.05) !important;

}

.g_variables > table{

	width: 50%;

}

.g_variables > table tr > td:first-child{
	border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 30%;
    padding-left: 10px;
}

.g_variables > table tr > td:last-child{
	border-bottom: 1px solid #FFFFFF;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 70%
}
#js-cpanel .badge {
	margin-left:40px!important;
}
#js-cpanel #g_rating .dropdown-navbar > li.nav-header {
    background: none repeat scroll 0 0 #185072 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
}
#js-cpanel #g_rating .js-icon-warning-sign{
	color: #fff;
}
#js-cpanel #g_rating .dropdown-navbar > li > a {
	color: #f6f6f6;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    padding: 10px 8px;
}
#js-cpanel .widget-toolbar > .dropdown > .dropdown-menu:after, #js-cpanel .dropdown-menu.dropdown-caret:after {
    border-bottom: 6px solid #1b5479 !important;
}
#js-cpanel #g_rating .dropdown-navbar > li{
	background: none repeat scroll 0 0 #1b5479;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	color: #f6f6f6;
	padding: 0;
	margin-right: 0 !important;
}
#js-cpanel #g_rating .dropdown-navbar > li:hover{
	background: #185072 !important;
}

#js-cpanel #g_rating .ace-nav > li {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.12), 1px 0 0 rgba(255, 255, 255, 0.12);
    line-height: 69px;
    margin-bottom: -10px;
    margin-right: 0;
    max-height: 69px;
    padding: 0;
    position: relative;
}
#js-cpanel #g_rating .dropdown-navbar {
    border: 0 none;
}
#js-cpanel #g_rating .dropdown-navbar > li .orange {
    background: none repeat scroll 0 0 #ff892a;
    border-radius: 4px;
    color: #ffffff !important;
    padding: 2px 4px;
}
#js-cpanel #g_rating .dropdown-navbar > li .red {
    background: none repeat scroll 0 0 #d15b46;
    border-radius: 4px;
    color: #ffffff !important;
    padding: 2px 4px;
}