/**
 * @package         Snippets
 * @version         6.5.3PRO
 * 
 * @author          Peter van Westen <info@regularlabs.com>
 * @link            http://www.regularlabs.com
 * @copyright       Copyright © 2018 Regular Labs All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@media (max-width: 767px) {
  #toolbar-edit,
  #toolbar-copy,
  #toolbar-publish,
  #toolbar-unpublish,
  #toolbar-trash,
  #toolbar-box-remove {
    display: none;
  }
}
