/**
* @package	cciDEAL Platform
* @author 	Chill Creations <info@chillcreations.com>
* @link 	http://www.chillcreations.com
* @copyright	Copyright (C) Chill Creations, see COPYRIGHT.php for details.
* @license	GNU/GPL, see LICENSE.php for full license.
**/

/* DEFAULTS */

#ccidealplatform_img img{
	border:0 none;
	margin:0;
	padding:0;
}
.clear{
	clear:both;
}

.article_class{
	float:none;
}

/* BACKEND ICONS */


.icon-48-ccideal {
	background: url(../images/ccideal_icon_large.png) no-repeat left top;
}
div.ccfull{
	max-width:400px;
    float: left;
    margin: 0 0 0 200px;
    padding: 0;
}
.ccfull{
	max-width:400px;
    float: left;
    margin: 0 0 0 120px;
    padding: 0;
}

div.ccleft{
	float:left;
	width:290px;
}

div.ccright{
	float:right;
	padding-top: 35px;
}

div.suss{
	font-size:13px;
	font-weight:bold;
	padding:30px 0 0;
	font-family:Arial;
}

div.ccll
{
	float:left;
}

div.cclr{
	float: left;
    padding-left: 0px;
    padding-top: 35px;
}

/* RSForm Styles*/

ul.rsform_leftnav li a span#ideal_span {
    background: url(../ideal.png) no-repeat scroll 8px center transparent;
}

#rsform_firstleftnav .component_img{
	background: url("../rsform_bg_ideal.JPG") no-repeat scroll 0 0 transparent;
    bottom: 10px;
    height: 27px;
    margin: 0;
    padding: 7px 0 0 30px;
    position: relative;
    width: 220px;
}

.enable_class{
    background: none repeat scroll 0 0 #FFE9E9;
    border: 1px solid #FFA3A3;
    left: 120px;
    padding: 10px;
    position: relative;
    width: 450px;
}


ul.rsform_leftnav li a span {
    display: block;
    height: 30px;
    padding-left: 30px;
    width: 220px;
}

ul.rsform_leftnav li a span#ideal {
    background: url("../ideal.png") no-repeat scroll 7px center transparent;
}
ul.rsform_leftnav li a span {
    display: block;
    height: 30px;
    padding-left: 30px;
    width: 220px;
}

/* END */

/*OnMousehover style*/

#pop{
	position:absolute;
	visibility:hidden;
	border:solid 1px #CCC;
	padding:5px;
	background:#f0f0f0;
	color:#000000;
	font-family:arial;
	font-size:10px;
}

.cert{
   	float: left;
    font-family: arial;
    font-size: 12px;
    margin: 0;
    padding: 0 0 10px 10px;
    position: relative;
    top: 0;
    width: 244px;
}

.cert_tick{
    bottom: 5px;
    float: left;
    padding: 0 8px 0 0;
    position: relative;
}

.perm_zip{
    float: left;
    padding: 0 5px;
}

/*CSS added in cciDEAl Platform 2.7.0 */


#popinfo{
	position:absolute;
	visibility:hidden;
	border:solid 1px #CCC;
	padding:5px;
	background:#f0f0f0;
	color:#000000;
	font-family:arial;
	font-size:10px;
}

#ccidealplatform_Extrainfo{
	position:absolute;
	visibility:hidden;
	padding:5px;
	color:#000000;
}

#ccidealplatform_Extrainfo .ccidealplatform_Extrainfo{
	border:solid 1px #CCC;
	background:#f0f0f0;
	font-family:arial;
	font-size:10px;
}

#ccidealplatform_fitlength{
	text-decoration:none;
	color:#666666;
}

#ccidealplatform_hover{
	text-decoration:none;
	color:#666666;
}

#ccidealplatform_showExtrainfo{
	display:none;
	color:#666666;
}

/*Added in cciDEAL Platform 2.7.1 */

.cc_update_status{
    padding: 0 0 0 20px;
}

.ccidealplatform_config_message{
    color: #505B65;
    float: left;
    padding: 7px;
    text-align: left;
    width: 600px;
}

.ccidealplatform_vm_msg1{
	color:#FE0707;
}

.ccidealplatform_vm_msg2{
	padding:0px;
}

.ccidealplatform_vm_td{
    background-color: #F6F6F6;
    padding: 10px;
}

.ccideal_statusbox
{
	width:75px;
	float:left;
}
div.statusdropdown{
	float:left;
}
/*Added in cciDEAL Platform 3.1.0 */

#ccideal-form table tr td.cls_setting{
	width:260px;
	padding:3px 0 3px 6px;
}
p.copyright{
	text-align:center;
}
span.payresult{
	float: left;
	text-align: left;
}
span.shorttext{
	float:right;
}
td.payarticle{
	background-color: #F6F6F6;
	border-bottom:1px solid #CCCCCC;
}
.updatebutton{
	float:left;
	padding:0 4px 0 4px;
}
#ccideal-form .width-50 fieldset{
	background-color:#F4F4F4;
}
td #IDEAL_Bank_chzn{
	float:left;
	margin-right:6px;
}
.test_payment{
	float: left;
	padding: 1px 0px 0px 4px;
}
#ccidealplatform_radio input{
	margin-left: 0px;
}
#ccidealplatform_radio label{
	min-width: 36px;
	clear:none;
}
#ccideal-form fieldset.radio{
	padding-left:0px;
}
.statusdropdown select{
	/*width:114px;*/
}
.dwn_setting{
	width:230px;
	padding:0 0 0 0px;
}
#ccideal-form table tr td.cls_setting_select{
	width:350px;
	padding:3px 0 3px 6px;
}
/*For pagetitle image in Joomla! 3.2*/
.icon-ccideal:before{
	content: url(../images/ccideal_icon.png);
}
.cert_widt{
	width: 310px;
}

/* David - 2015-07-28 - cciDEAL 4.4.9 */
/* Configuration anchor styling */
.config-anchor {display: block; position: relative; top: -100px;}
.config-top-anchor {display: block; position: relative; top: -150px;}