body .pr-background-primary, body .uk-table .pr-background-primary{background-color:#ffb812 !important;}
body .pr-font-primary, body .pr-font-primary a{color:#ffb812;}
body .pr-font-white, body .pr-font-white a{color:#fff;}
body.contentpane{margin:40px;}

body .pr-font-primary a:hover, body a.pr-font-primary:hover{color:#000; text-decoration:none;}

body .uk-button{padding:5px 30px; font-size:18px;}
body .uk-button-primary{background-color: #ffb812; color:#fff; border-radius:3px;}
body .uk-button-primary:hover, body .uk-button-primary:focus{background-color:#da9800;}

.uk-form .uk-button-primary, .uk-form .uk-button-success, .uk-form .uk-button-danger{
	color: white;
}

.uk-subnav-pill{
	background-color:#F4F6F7;
}

.guru-content.uk-subnav > *{
	margin-bottom:10px;
}

.guru-cover-image{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #f5f5f5;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.guru-course-details{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border: 0 none;
    bottom: 0;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    text-shadow: 1px 1px #000000;
    width: 100%;
}

.teacher_info{
	padding:10px;
}

.guru-course-view > div{
	margin:5px 0px 5px 0px;
}

.guru-course-view .uk-subnav-pill{
	border-radius: 5px;
}

.nav {
    padding: 0;
}

.tab-content {
	overflow: auto;
    padding: 10px;
}

.subcat .uk-grid{
	border-top: 1px solid #cccccc;
    margin: 0;
}

.table-of-contents .uk-grid, .teacher_cell_guru .uk-grid{
	margin-left:0px;
}

.table-of-contents .uk-grid > *, .teacher_cell_guru .uk-grid > *{
	padding:7px 0px;
}

.guru-content .uk-navbar-nav > li > a{
	padding: 0px 10px;
}

.guru-content .uk-navbar-nav{
	width:100%;
}

.pub_modal_frame {
    height: 100%;
    width: 100%;
}

/* Modal */
.guru-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    outline: 0;
	z-index:3000;
}

.guru-modal-dialog {
    position: relative;
    display: none;
    width: 80%;
    margin: 10px;
    border-radius: 6px;
    background-color: white;
    transform: translate(0px, 0px);
	z-index:2000;
}

.guru-modal-dialog .close-window {
    top: 0;
    right: 0;
}

.guru-modal-content {
    position: relative;
    height: 100%;
}

.guru-modal-content iframe {
    min-height: 300px;
    border-radius: 6px;
}

@media (min-width: 769px) {
    .guru-modal-dialog {
        width: 80%;
        margin: 70px auto;
    }

    .guru-modal-dialog .close-window {
        right: -15px;
        top: -15px;
    }

    .guru-modal-content iframe {
        min-height: 320px;
    }
}

/* Guru layouts */
.guru_layouts {
    display: block;
    margin: -2px;
}

.guru_layouts-item {
    display: inline-block;
    float: left;
    width: 8.3%;
    padding: 2px;
}

@media (max-width: 480px) {
    .guru_layouts-item {
        width: 16.6%;
    }
}

.uk-form-horizontal .uk-form-controls{
	margin-top: 5px;
}

.modal-lesson-content{
	margin:5px;
}

.contentpane {
	margin:10px;
	background-color:#FFFFFF;
}

.layout-image{
	padding:3px;
}

.modal1-body iframe{
	width:100%;
}

.padding-none{
	padding:0px !important;
}

.clearfix{
	clear:both;
}

.modcontent.clearfix{
	clear:none !important;
}

.guru-content .uk-navbar ol, .guru-content .uk-navbar ul{
	padding: 0px !important;
}