.gru-page-subtitle {
  line-height: 30px; }

.gru-heading {
  margin-bottom: 25px; }

.uk-button {
  box-shadow: none;
  text-shadow: none; }
  .uk-form .uk-button {
    border-radius: 4px; }

.uk-button-primary,
.uk-button-success,
.uk-button-danger {
  border: none; }
  .uk-form .uk-button-primary, .uk-form
  .uk-button-success, .uk-form
  .uk-button-danger {
    color: white; }

.gru-login-box input[type="text"],
.gru-login-box input[type="password"] {
  width: 100%; }

/*# sourceMappingURL=guru.css.map */

.logout-btn{
	float:right !important;
}

.g_lesson_nav_bar {
  padding-top: 10px;
}

.gru-plan-price{
	width:70px !important;
}

.no-padding{
	padding:0px !important;
}

.gru-nav-bar{
	background-color: #212121;
    border-radius: 5px;
    margin: 0 !important;
    padding: 5px !important;
}

.gru-nav-bar [class^="uk-width"] {
	padding: 0px !important;
}

#guru-component ul {
    list-style-type: none !important;
    margin: 0;
	clear:both;
}

.course_view_description li{
	list-style:inside !important;
}

.gru-nav-bar img{
	height:20px;
}

.g_certificate_view{
    position: absolute !important;
    top: 20%;
    width: 100%;
}

.g_certificate_view > div{
	padding: 0 60px !important;
}

.g_certificate_view p{
	margin: 0 0 5px !important;
}

.lessons_wrap li{
	margin:0px !important;
}

.lessons_wrap{
	margin-bottom:10px;
}

.padding-left-10{
	padding-left:10px !important;
}

.padding-right-10{
	padding-right:10px !important;
}

.margin-2{
	margin:2px !important;
}

.guru-question .uk-grid{
	margin-left: -15px;
    margin-right: 5px;
}

.gru-page-filters{
	float: left;
    margin-bottom: 5px;
    width: 100%;
}

.gru-filter-item{
	float:left;
	margin-right:2px;
}

.gru-page-filters .form-control{
	width:auto;
	display: inline;
}

.gru-page-filters .item-right{
	float:right;
}

.thumbnail.pull-left {
    margin: 0 10px 10px 0;
}

.thumbnail.pull-right {
    margin: 0 0 10px 10px;
}

#g_table_cart ul{
	margin:0px;
	padding:0px;
}

.gru-filter-item input[type="text"]{
	height: 30px;
    min-height: 30px;
    padding: 0 5px;
}

.gru-filter-item button{
	min-height:30px;
	height:30px;
}

.gru-filter-item select{
	min-height:30px !important;
	height:30px !important;
	padding:0px !important;
}

.gru-filter-item img{
	border: 1px solid #ccc;
    padding: 3px;
	border-radius: 4px;
}

.gru-page-title{
	margin-top:20px;
}

.pagetitle-cartbutton{
	width:100%;
	margin-top:10px;
}

.pagetitle-cartbutton > div{
	width:50%;
}

#startpublish, #endpublish, #startpublish_img, #endpublish_img{
	height:30px !important;
}

#startpublish, #endpublish{
	width:160px !important;
}

.title_guru .gru-page-title {
	margin-top: 5px;
	color: white;
	text-shadow: 0 0 2px black;
}

.uk-form .uk-subnav:last-child {
	margin-top: 20px !important;
}

.inactive-lesson, .inactive-lesson:hover{
	color:#999999;
}

.modal{
	display:none;
}

.lesson-quizz-pending{
	color:#F89406;
	font-weight: bold;
}

.lesson-quizz-failed{
	color:#C83F39;
	font-weight: bold;
}

.lesson-quizz-passed{
	color:#56AC56;
	font-weight: bold;
}