/**
 * @package         Regular Labs Extension Manager
 * @version         7.4.0
 * 
 * @author          Peter van Westen <info@regularlabs.com>
 * @link            http://www.regularlabs.com
 * @copyright       Copyright © 2018 Regular Labs All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

html, body {
	height:     auto !important;
	overflow-y: auto !important;
}

#rlem {
	h2 {
		min-height: 26px;
	}
	.table {
		margin-bottom: 0;
	}
	td {
		height: 20px;
		&.ext_name {
			font-size: 16px;
		}
	}
	.progress {
		margin-bottom: 1px;
	}
	.label small {
		white-space: normal;
	}
}

#system-message-container {
	display: none;
}
